alembic==1.0.10
allure-behave==2.9.45
allure-python-commons==2.9.45
APScheduler==3.6.0
astroid==2.2.5
attrs==21.4.0
bcrypt==3.1.7
behave==1.2.6
blinker==1.4
certifi==2021.10.8
cffi==1.12.3
charset-normalizer==2.0.12
Click==7.0
coverage==4.5.3
dnspython==1.16.0
email-validator==1.0.4
Flask==1.0.3
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.8
Flask-JWT-Extended==3.19.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.4.0
greenlet==1.1.2
gunicorn==19.9.0
idna==2.8
isort==4.3.20
itsdangerous==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.4.1
Mako==1.0.12
MarkupSafe==1.1.1
marshmallow==2.19.5
mccabe==0.6.1
parse==1.19.0
parse-type==0.6.0
pep8==1.7.1
pkg_resources==0.0.0
pluggy==1.0.0
psycopg2==2.8.3
pycparser==2.19
PyJWT==1.7.1
pylint==2.3.1
python-dateutil==2.8.0
python-dotenv==0.10.3
python-editor==1.0.4
python-usernames==0.2.2
pytz==2019.1
pyzmq==23.2.0
requests==2.27.1
scoop==0.7.1.1
six==1.12.0
SQLAlchemy==1.3.5
typed-ast==1.4.0
tzlocal==1.5.1
urllib3==1.26.9
webargs==5.3.2
Werkzeug==0.15.5
wrapt==1.11.2
